<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor-HomePage</title>
</head>
<body>
    <a href="{% url 'Editor:MyProfile' %}">MyProfile</a>

    <a href="{% url 'Editor:ViewVerifiednews' %}"> View Verified News</a>

    <a href="{% url 'Editor:ViewRNews' %}">View Reporters Published News</a>

    <a href="{% url 'Editor:ViewFNews' %}">View Freelancers Published News</a>

    <a href="{% url 'Editor:ViewAdvertisement' %}">View Advertisement</a>

    <a href="{% url 'Editor:Complaint' %}">Complaint Box</a>

    <a href="{% url 'Editor:Logout' %}">Logout</a>
</body>
</html>