<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreelancersPublishedNews</title>
</head>
<body>
     <form action="" method="post">
        {%csrf_token %}
        <h3 align="center">Freelancer Published News</h3>
        <table border="1" align="center">
            <tr>
                <td>Sl.No</td>
                <td>Title</td>
                <td>Content</td>
                <td>Images</td>
                <td>Category</td>
                <td>Subcategory</td>
                <td>Date</td>
                <td>Freelancer Details</td>
                <td>Action</td>
                <td>Amount</td>
            </tr>
            {% for i in Newsdata %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.news_title}}</td>
                <td>{{i.news_content}}</td>
                <td><img src="{{i.news_image.url}}" alt="" width="100" height="100"></td>
                <td>{{i.subcategory.category.category_name}}</td>
                <td>{{i.subcategory.subcategory_name}}</td>
                <td>{{i.news_date}}</td>
                <td>{{i.user.user_name}}</td>
                <td><a href="{% url 'Admin:ViewFiles' i.id %}">View Files</a></td>

               <td><a href="{% url 'Admin:Payment' i.id %}">Payment</a></td>
            </tr>
            {% endfor %}
        </table> 
     </form>
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location="{% url 'Admin:FPublishedNews' %}";
</script>
{% endif %}