<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancer Type</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="1" align="center">
            <tr>
                <td>Freelancer Type</td>
                <td><input type="text" name="txt_type" id="txt_type"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
    <table border="1" align="center">
        <tr>
            <td>Sl.No</td>
            <td>freelancer Type</td>
            <td>Action</td>
        </tr>
        {% for i in freelancer %}
         <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.freelancer_type}}</td>
            <td><a href="{% url 'Admin:delfreelancer' i.id %}">Delete</td>
        </tr>
        {% endfor %}
</body>
  {% if msg %}
<script>
    alert("{{msg}}")
    window.location="{% url 'Admin:freelancertype' %}";
</script>
    {% endif %}
</html>