<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-HomePage</title>
</head>
<body>
     <a href="{% url 'Admin:PublishedNews' %}">Reporter Published News</a>

     <a href="{% url 'Admin:FPublishedNews' %}">Freelancers Published News</a>

     <a href="{% url 'Admin:viewComplaints' %}">View Complaint</a>

     <a href="{% url 'Admin:AdminRegistration' %}">Admin Registration</a>
     
     <a href="{% url 'Admin:Logout' %}">Logout</a>
</body>
</html>