<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PublishedNews</title>
</head>
<body>
    <form action="" method="post">
        {%csrf_token %}
        <h3 align="center">Reporter Published News</h3>
        <table border="1" align="center">
            <tr>
                <td>Sl.No</td>
                <td>Title</td>
                <td>Content</td>
                <td>Images</td>
                <td>Category</td>
                <td>Subcategory</td>
                <td>Date</td>
                <td>Reporter Details</td>
                <td>Action</td>
            </tr>
            {% for i in NewsData %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.news_title}}</td>
                <td>{{i.news_content}}</td>
                <td><img src="{{i.news_image.url}}" alt="" width="100" height="100"></td>
                <td>{{i.subcategory.category.category_name}}</td>
                <td>{{.subcategory.subcategory_name}}</td>
                <td>{{i.news_date}}</td>
                <td>{{i.reporter.reporter_name}}</td>
                <td><a href="{% url 'Admin:ViewFiles' i.id %}">View Files</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location="{% url 'Admin:PublishedNews' %}";
</script>
{% endif %}